<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>상품 테스트</title>
</head>
<body>
<h1>상품 목록 조회</h1>
<table border="1">
    <th>상품 번호</th>
    <th>상품 이름</th>
    <th>상품 가격</th>
    <th>등록 날짜</th>
    <th>수정 날짜</th>
    <th>수정/삭제</th>
    <tr th:with="product=${detailProduct}">
        <td>
            [[${product.productNo}]]
        </td>
        <td>
            [[${product.productName}]]
        </td>
        <td>
            [[${product.salePrice}]]
        </td>
        <td>
            [[${product.registerYmdt}]]
        </td>
        <td>
            [[${product.updateYmdt}]]
        </td>
        <td>
            <a th:href="@{/productUpdateForm/{id}(id = ${product.productNo})}">
                <button>
                    상품 수정
                </button>
            </a>
            <a th:href="@{/deleteProduct/{id}(id = ${product.productNo})}">
                <button>
                    상품 삭제
                </button>
            </a>
        </td>
    </tr>

</table>
</body>
</html>
